name: GitHub CI

on:
  push:
  pull_request:
  workflow_dispatch: #

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y ninja-build nasm libfontconfig1-dev meson
          meson wrap update-db
      - name: Build & Save binary
        run: |
          meson setup build
          meson compile -C build
          cmake -E copy "build/src/libassrender.so" "dist/libassrender.so"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: assrender_bin_linux
          path: dist

  build-win:
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          choco install ninja nasm pkgconfiglite
          
          python -m pip install --upgrade pip
          pip install meson
          meson wrap update-db
      - name: Setup MSVC (x64)
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: Meson + CMake build (x64)
        env:
          PKG_CONFIG_PATH: C:/assdeps/x64/lib/pkgconfig
        run: |
          meson setup build_x64 `
            --prefix "C:/assdeps/x64" `
            --libdir "lib" `
            -Db_vscrt=static_from_buildtype `
          meson compile -C build_x64
          cmake -E copy "build_x64\src\Release\assrender.dll" "dist\Release_x64\assrender.dll"
      - name: Setup MSVC (Win32)
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86
      - name: Meson + CMake build (Win32)
        env:
          PKG_CONFIG_PATH: C:/assdeps/x86/lib/pkgconfig
        run: |
          meson setup build_Win32 `
            --prefix "C:/assdeps/x86" `
            --libdir "lib" `
            -Db_vscrt=static_from_buildtype `
          meson compile -C build_Win32
          cmake -E copy "build_Win32\src\Release\assrender.dll" "dist\Release_Win32\assrender.dll"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: assrender_bin_win
          path: dist
